<ion-card class="project-card">
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content">
            <ion-col size="6" class="ion-align-self-center status">
              {{ project.startDate | date: 'shortDate':'UTC' }} - {{ project.dueDate  | date: 'shortDate':'UTC' }}
            </ion-col>
            <ion-col size="4" class="ion-align-self-center ion-text-end status">
              {{ project.status }}
            </ion-col>
            <ion-col size="2" class="ion-text-end">
              <ion-button fill="clear" size="small" (click)="presentProjectActionSheet()">
                <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content>
    <ion-card-title>
      {{ project.projectName }}
    </ion-card-title>

    <p class="project-description">{{ project.description }}</p>

    <div class="tasks-section">
      <div class="tasks-header">
        <h1>Tasks</h1>
        <ion-button class="add-task-btn" (click)="openProjectTaskCreateModal()">
          Add Task
        </ion-button>
      </div>

      <div class="task-list">
        <div *ngIf="listOfProjectTaskIDs.length>0; else noProjectTasksBlock">
          <ion-list class="ion-text-center" *ngFor="let projectTaskID of listOfProjectTaskIDs">
            <ion-item>
              <app-project-task [projectTaskID]="projectTaskID"></app-project-task>
            </ion-item>
          </ion-list>
        </div>
        <ng-template #noProjectTasksBlock>
          No Project Tasks
        </ng-template>
      </div>
    </div>
  </ion-card-content>
</ion-card>
